.page-header
  %h1
    =@location[:name]

.row
  .span12
    =simple_form_for Post.new(:location_id => @location[:id]), :url => posts_path do |f|
      =f.hidden_field :location_id
      =f.input :text, :label => false, :input_html => {:class => "span12", :rows => 3}, :placeholder => "Type something cool here."
      =f.button :submit, "Create Post", :class => "btn btn-primary"

%hr/

-@posts.each do |p|
  =render "posts/post", :post => p